@font-face {
    font-family: "FonteNossaTmj";
    src: url("../font/PoetsenOne-Regular.ttf");
}

body{
    background-color: #15b02f3a;
    margin: 0;
    display: flex;
    justify-content: center;
}

.foto{
    position: absolute;
    right: 0;
    top: 0;
    height: 8.5em;
}

.circulo{
    width: 17em;
    height: 17em;
    background-color: #15b02e;
    border-radius: 50%;
    position: absolute;
    left: -3em;
    top: -5.5em;
}

.poligono_menor {
    width: 17em;
    display: block;
    position: absolute;
    bottom: 3em;
    left: 8em;
}

footer {
    background-color: #15b02e;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3vh;
}

.poligono_texto {
    position: absolute;
    display: inline-block;
    right: 1em;
    bottom: 5em;
}

.poligono {
    width: 23em;
    height: auto;
    display: block;
}

.h1_2 {
    width: 80%;
    text-align: center;
    font-family: "FonteNossaTmj", sans-serif;
    font-size: 23px;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.conteudo{
    color: rgba(0, 0, 0, 0.65);
    font-family: "FonteNossaTmj", sans-serif;;
    background-color: white;
    border-radius:10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin: 3.5em;
    margin-top: 8em;
    width: 22em;
    height: 26em;
    z-index: 1;
}

.span_1{
    color: #15b02e;
}

.conteudo_lista{
    gap: 2em;
    padding: 1em 5em;
    list-style: none;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insira_usuario,
.insira_senha{
    font-size: 10px;
    font-family: "FonteNossaTmj", sans-serif;
    width: 200px;
    border-top: 1px black;
    border-left: 1px black;
    border-right: 1px black;
    
}

.conteudo_lista_rodape{
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.h3_1,
.h3_2{
    font-size: 12px;
    color: #1d4ed8;
    text-decoration: none;
}

.botao_login {
    font-family: "FonteNossaTmj", sans-serif;
    background-color: #15b02e;
    border-radius: 10px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    padding: 1em 6em;
}

.conteudo_botao{
    margin-top: 2em;
}

.insira_usuario::placeholder{
    background: url("../../../../assets/perfil.svg") no-repeat;
    background-size: contain;
    background-position: right;
}

.insira_senha::placeholder{
    background: url("../../../../assets/icone_senha.svg") no-repeat;
    background-size: contain;
    background-position: right;
}

 
