<body>
    <app-header></app-header>
    <main>
        <div class="div_imagem">
            <a href="/painel-controle">
                <div class="imagem_separada">
                    <img class="imagens_da_div" src="assets/painel_controle.png" alt="Painel de controle">
                    <h2 class="imagem_texto">Painel de Controle</h2>
                </div>
            </a>
            <a href="/painel-credito">
                <div class="imagem_separada">
                    <img class="imagens_da_div" src="assets/painel_credito.png" alt="Painel de crédito">
                    <h2 class="imagem_texto">Painel de Crédito</h2>
                </div>
            </a>
        </div>
        <div class="informacao">
            <div class="informacao_imagem">
                <img class="imagem_eco" src="assets/ecologico.png" alt="img Ecologico">
            </div>
            <div class="informacao_texto">
                <h3>QUEM SOMOS</h3>
                <p>Somos uma empresa dedicada à sustentabilidade ambiental, especializada na comercialização de créditos de carbono. Nossa missão é facilitar a transição para uma economia de baixo carbono, oferecendo soluções inovadoras para empresas comprometidas com a neutralização de suas pegadas de carbono.</p>
            </div>

        </div>
    </main>
    <footer></footer>
</body>