<body>
  <div class="painelcontrole">
    <a class="redirecionarpainelcontrole" href="painel-controle">
      <img src="assets/b07e450e5c97d2fa5f4e0f597b2fa37e.png" class="painelcontroleimg">
      <div class="textopainelcontrole">
        Painel de Controle
      </div>
    </a>
  </div>
  <div class="painelcredito">
    <a class="redirecionarpainelcredito" href="painel-credito">
      <img src="assets/8ad19eca32d8cc4d6668da7d8ba1f9c3.png" class="painelcreditoimg">
      <div class="textopainelcredito">
        Painel de Credito
      </div>
    </a>
  </div>
  <div class="imagemrecliclagem">
    <img src="assets/foto_inicio-removebg-preview 1.png">
  </div>
  <div class="quemsomos">
    <h1>QUEM SOMOS?</h1>
    <p>Somos uma empresa dedicada à sustentabilidade ambiental, especializada na comercialização de créditos de carbono. Nossa missão é facilitar a transição para uma economia de baixo carbono, oferecendo soluções inovadoras para empresas comprometidas com a neutralização de suas pegadas de carbono.</p>
  </div>
  <footer class="rodape">
  </footer>
</body>