.foto {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}
.imagem {
  position: relative;
  width: 100%;
  height: 100%;
}

.rodape {
  background-color: #15b02e;
  color: #15b02e;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

body {
  margin: 0px;
}

.circulo {
  width: 400px;
  height: 400px;
  background-color: #15b02e;
  border-radius: 50%;
  position: relative;
  left: -70px;
  top: -102px;
  transition: none 0s ease 0s;
}

.poligono {
  position: relative;
  left: 1266px;
  top: -131px;
}

.poligono_menor {
  position: relative;
  left: 382px;
  top: -437px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #15b02f3a;
  grid-row-start: -1;
}

.retangulo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
