<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="images/icone_melhor.png">
  <link href='app.component.css' rel="stylesheet" />
  <title>CarbonoZero</title>
</head>

<body>
  <div class="imagem">
    <img src="images/icone_melhor.png" class="foto">
  </div>
  <div class="container">
    <div class="circulo"></div>
    <img src="images/poligono.svg" class="poligono">
    <img src="images/poligono_menor.svg" class="poligono_menor">
    <img src="images/login_retangulo.svg" class="retangulo">
    <img src="images/perfil.svg" class="perfil_foto">
    <img src="images/icone_senha.svg" class="icone_senha">
    <div class="conteudo">
      <div class="titulo_retangulo">
        <h1 class="h1_2">Faça o login em nossa <span class="plataforma">Plataforma!</span></h1>
      </div>
      <div class="dentro_retangulo">
        <h1 class="h1_1">Bem vindo ao <span class="span_1">LOGIN</span></h1>
        <h4 class="h4_1">Preencha os dados do login para acessar</h4>
        <h3 class="h4_2">Usuário</h3>
        <input class="insira_usuario" placeholder="Insira seu usuário">
        <h3 class="h4_3">Senha</h3>
        <input type="password" class="insira_senha" placeholder="Insira sua senha">
        <a href='./' class="h3_1">Esqueci minha senha</a>
        <a href='cadastro.html' class="h3_2">Primeiro acesso? Cadastre aqui</a>
        <a href='./' class="botao_login">ENTRAR</a>
      </div>
    </div>
    <footer class="rodape">
    </footer>
  </div>
</body>

</html>